<div class="row">
	<div class="col-md-12">
		<% @posts.each do |post| %>
			<div class="post col-md-3">
				<%= link_to image_tag(post.image.url(:thumb)), post %>
				<div><%= post.title %></div>
				<div>
					<%= link_to 'Show', post %>
					<%= link_to 'Edit', edit_post_path(post) %>
					<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure to delete this image?' } %>
				</div>
			</div>
		<% end %>
	</div>
</div>
<%= javascript_include_tag 'mainsory/masonry-docs.min' %>

<script>
	$('.post').masonry({
		// options...
		itemSelector : '.grid-item',
		columnWidth : 200
	}); 
</script>
<br>
